export("wildlift_settings",
       "wildlift_forecast",
       "wildlift_breakeven",
       "wildlift_matrix",
       "wildlift_breeding",
       "run_app")

S3method("print", "wildlift_settings")

S3method("print", "wildlift_forecast")
S3method("summary", "wildlift_forecast")
S3method("print", "summary.wildlift_forecast")
S3method("plot", "wildlift_forecast")
S3method("lines", "wildlift_forecast")

S3method("print", "wildlift_breeding")
S3method("summary", "wildlift_breeding")
S3method("plot", "wildlift_breeding")

importFrom("popbio", "eigen.analysis", "pop.projection")
importFrom("graphics", "lines", "legend")
importFrom("stats", "optimize")
importFrom("utils", "str")
